[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pypiwin32 = "==223"

[packages]
matplotlib = "==3.4.2"
numpy = "==1.20.1"
pillow = "==8.1.1"
scipy = "==1.6.1"
wandb = "==0.10.31"

[requires]
python_full_version = "3.9.0"
