[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pypiwin32 = "==223"

[packages]
matplotlib = "==3.3.2"
numpy = "==1.19.2"
pillow = "==7.2.0"
scipy = "==1.5.2"
wandb = "==0.10.8"

[requires]
python_version = "3.8"
